.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 0 0;
  max-width: 456px;
}

.place__link:hover {
  opacity: 0.8;
  cursor: url('../../../images/Imported\ Layers\ Copy\ 4.svg'), pointer;
}
